<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Recipe home page</title>
</head>
<body>
	<h1 th:text="'Kaboommmmm'">This is index page</h1>
	<table>
	    <tr>
	        <th>ID</th>
	        <th>Description</th>
	        <th>Direction</th>
	    </tr>
	    <tr th:each="recipe : ${recipes}">
	        <td th:text="${recipe.id}">123</td>
	        <td th:text="${recipe.description}">Tasty Goodnees</td>
	        <td th:text="${recipe.directions}">direction</td>
	    </tr>
	</table>
</body>
</html>